body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #297373;
}

#game{
    background-color: #85FFC7 ;
    margin-top: 10rem;
    border: 2px solid #333;
}

